body{
    background-image: url("Images/1x/backgound.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 3rem;
    margin: 0;
}
img{
    max-width: 100%;
}
.hamburger{
display: block;
}

.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, .75);
    margin: 10px;
    padding: 10px;
}

.logo-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
}

#category-row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.category-btn {
    padding: 20px;
    border: 2px solid black;
    color: black;
    background-color: red;
    text-decoration: none;
}

.title{
    padding: 20px;
    border: 2px solid black;
    color: black;
    background-color: red;
}

.category-btn:hover {
    background-color: green;
}
.nav-btn{
    border: 2px solid black;
    color: black;
    background-color: white;
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
}
.card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;  
    gap: 1rem;
}
.card{
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    text-align: center;
    text-decoration: none;
}
.card-label{
    text-decoration: none;
    color: black;
}

.paragraph{
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    max-width: 550px;
    font-size: 30px;
}
.text-container {
    display: flex;
    flex-direction: column;

}
.nored{
    background-color: transparent;
    border: none;
}
.nored img{
    margin: 1rem;
}
label[for=product-size]{
    background-color: red;
}
.border img{
    border: 2rem solid red;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
form input{
     background-color: white;
    border: 1rem solid red;
    padding: 2rem;
}
textarea{
    background-color: white;
    border: 1rem solid red;

    padding: 2rem;
}
.paragraph-about{
     padding: 10px;
    border: 2px solid black;
    background-color: red;
    font-size: 30px;
}