body{
    background-image: url("Images/1x/backgound.png");
    color: black;
    font-family: "alfarn-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
.hamburger{
display: block;
}

.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, .75);
    margin: 10px;
    padding: 10px;
}

.logo-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
}

#category-row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.category-btn {
    padding: 20px;
    border: 2px solid black;
    color: black;
    background-color: red;
    text-decoration: none;
}

.title{
    padding: 20px;
    border: 2px solid black;
    color: black;
    background-color: red;
}

.category-btn:hover {
    background-color: green;
}
.nav-btn{
    border: 2px solid black;
    color: black;
    background-color: white;
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
}
.card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;  
}
.card{
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    text-align: center;
    text-decoration: none;
    max-height: 450px;
}
.card-label{
    text-decoration: none;
    color: black;
}

.paragraph{
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    max-width: 550px;
    font-size: 30px;
}
.text-container {
    display: flex;
    flex-direction: column;

}